<?xml version="1.0" encoding="utf-8"?>
<?include Version.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="Bin">
            <ComponentRef Id="hdf5dll.dll" />
            <ComponentRef Id="szlibdll.dll" />
            <ComponentRef Id="vtkCommon.dll" />
            <ComponentRef Id="vtkDICOMParser.dll" />
            <ComponentRef Id="vtkexoIIc.dll" />
            <ComponentRef Id="vtkexpat.dll" />
            <ComponentRef Id="vtkFiltering.dll" />
            <ComponentRef Id="vtkfreetype.dll" />
            <ComponentRef Id="vtkftgl.dll" />
            <ComponentRef Id="vtkGraphics.dll" />
            <ComponentRef Id="vtkHybrid.dll" />
            <ComponentRef Id="vtkImaging.dll" />
            <ComponentRef Id="vtkIO.dll" />
            <ComponentRef Id="vtkjpeg.dll" />
            <ComponentRef Id="vtkmetaio.dll" />
            <ComponentRef Id="vtkMFC.dll" />
            <ComponentRef Id="vtkNetCDF.dll" />
            <ComponentRef Id="vtkParallel.dll" />
            <ComponentRef Id="vtkpng.dll" />
            <ComponentRef Id="vtkRendering.dll" />
            <ComponentRef Id="vtksys.dll" />
            <ComponentRef Id="vtktiff.dll" />
            <ComponentRef Id="vtkverdict.dll" />
            <ComponentRef Id="vtkWidgets.dll" />
            <ComponentRef Id="vtkzlib.dll" />
            <ComponentRef Id="P4W.exe" />
            <ComponentRef Id="spawnc.exe" />
            <ComponentRef Id="xerces_c_2_7.dll" />
            <ComponentRef Id="zlib1.dll" />
            <!-- phast console versions -->
            <ComponentRef Id="hdf5.dll_64" />
            <ComponentRef Id="szip.dll_64" />
            <ComponentRef Id="zlib.dll_64" />
            <ComponentRef Id="phast_mt.exe" />
            <ComponentRef Id="phast_msmpi.exe" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="bin" Name="bin">
                <Component Id="hdf5dll.dll" Guid="*">
                    <File Id="hdf5dll.dll" KeyPath="yes" Source="$(var.hdfDllPath)\hdf5dll.dll" />
                </Component>
                <!--
                <Component Id="phast_ser.exe" Guid="*">
                    <File Id="phast_ser.exe" Name="phast-ser.exe" KeyPath="yes" Source="$(var.phastSerExePath)" />
                </Component>
                <Component Id="phast_mpich2.exe" Guid="*">
                    <File Id="phast_mpich2.exe" Name="phast-mpich2.exe" KeyPath="yes" Source="$(var.phastMPICH2ExePath)" />
                </Component>
                -->
                <Component Id="szlibdll.dll" Guid="*">
                    <File Id="szlibdll.dll" KeyPath="yes" Source="$(var.hdfDllPath)\..\bin\szlibdll.dll" />
                </Component>
                <Component Id="vtkCommon.dll" Guid="*">
                    <File Id="vtkCommon.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkCommon.dll" />
                </Component>
                <Component Id="vtkDICOMParser.dll" Guid="*">
                    <File Id="vtkDICOMParser.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkDICOMParser.dll" />
                </Component>
                <Component Id="vtkexoIIc.dll" Guid="*">
                    <File Id="vtkexoIIc.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkexoIIc.dll" />
                </Component>
                <Component Id="vtkexpat.dll" Guid="*">
                    <File Id="vtkexpat.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkexpat.dll" />
                </Component>
                <Component Id="vtkFiltering.dll" Guid="*">
                    <File Id="vtkFiltering.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkFiltering.dll" />
                </Component>
                <Component Id="vtkfreetype.dll" Guid="*">
                    <File Id="vtkfreetype.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkfreetype.dll" />
                </Component>
                <Component Id="vtkftgl.dll" Guid="*">
                    <File Id="vtkftgl.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkftgl.dll" />
                </Component>
                <Component Id="vtkGraphics.dll" Guid="*">
                    <File Id="vtkGraphics.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkGraphics.dll" />
                </Component>
                <Component Id="vtkHybrid.dll" Guid="*">
                    <File Id="vtkHybrid.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkHybrid.dll" />
                </Component>
                <Component Id="vtkImaging.dll" Guid="*">
                    <File Id="vtkImaging.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkImaging.dll" />
                </Component>
                <Component Id="vtkIO.dll" Guid="*">
                    <File Id="vtkIO.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkIO.dll" />
                </Component>
                <Component Id="vtkjpeg.dll" Guid="*">
                    <File Id="vtkjpeg.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkjpeg.dll" />
                </Component>
                <Component Id="vtkmetaio.dll" Guid="*">
                    <File Id="vtkmetaio.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkmetaio.dll" />
                </Component>
                <Component Id="vtkMFC.dll" Guid="*">
                    <File Id="vtkMFC.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkMFC.dll" />
                </Component>
                <Component Id="vtkNetCDF.dll" Guid="*">
                    <File Id="vtkNetCDF.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkNetCDF.dll" />
                </Component>
                <Component Id="vtkParallel.dll" Guid="*">
                    <File Id="vtkParallel.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkParallel.dll" />
                </Component>
                <Component Id="vtkpng.dll" Guid="*">
                    <File Id="vtkpng.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkpng.dll" />
                </Component>
                <Component Id="vtkRendering.dll" Guid="*">
                    <File Id="vtkRendering.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkRendering.dll" />
                </Component>
                <Component Id="vtksys.dll" Guid="*">
                    <File Id="vtksys.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtksys.dll" />
                </Component>
                <Component Id="vtktiff.dll" Guid="*">
                    <File Id="vtktiff.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtktiff.dll" />
                </Component>
                <Component Id="vtkverdict.dll" Guid="*">
                    <File Id="vtkverdict.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkverdict.dll" />
                </Component>
                <Component Id="vtkWidgets.dll" Guid="*">
                    <File Id="vtkWidgets.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkWidgets.dll" />
                </Component>
                <Component Id="vtkzlib.dll" Guid="*">
                    <File Id="vtkzlib.dll" KeyPath="yes" Source="$(var.vtkDllPath)\vtkzlib.dll" />
                </Component>
                <Component Id="P4W.exe" Guid="*">
                    <File Id="P4W.exe" KeyPath="yes" Source="$(var.BinDir)\P4W.exe" />
                    <Class Id="36353903-2137-43FD-9AD6-40B65A96A839" Context="LocalServer32" Description="Phast for Windows Document" Advertise="yes">
                      <ProgId Id="Phast.Document" Description="Phast for Windows Document">
                        <Extension Id="p4w">
                          <Verb Id="open" Argument='"%1"'/>
                          <Verb Id="print" Argument='/p "%1"'/>
                          <Verb Id="printto" Argument='/pt "%1" "%2" "%3" "%4"'/>
                        </Extension>
                      </ProgId>
                    </Class>
                </Component>
                <Component Id="spawnc.exe" Guid="*">
                    <File Id="spawnc.exe" KeyPath="yes" Source="$(var.BinDir)\spawnc.exe" />
                </Component>
                <Component Id="xerces_c_2_7.dll" Guid="*">
                    <File Id="xerces_c_2_7.dll" KeyPath="yes" Source="$(var.xercesDllPath)\xerces-c_2_7.dll" />
                </Component>
                <Component Id="zlib1.dll" Guid="*">
                    <File Id="zlib1.dll" KeyPath="yes" Source="$(var.hdfDllPath)\..\bin\zlib1.dll" />
                </Component>
                <!-- phast console versions -->
                <Component Id="hdf5.dll_64" Guid="*">
                    <File Id="hdf5.dll_64" KeyPath="yes" Source="$(var.CMakeBinaryDir)\_build_mt_x64\INSTALL\bin\hdf5.dll" />
                </Component>
                <Component Id="szip.dll_64" Guid="*">
                    <File Id="szip.dll_64" KeyPath="yes" Source="$(var.CMakeBinaryDir)\_build_mt_x64\INSTALL\bin\szip.dll" />
                </Component>
                <Component Id="zlib.dll_64" Guid="*">
                    <File Id="zlib.dll_64" KeyPath="yes" Source="$(var.CMakeBinaryDir)\_build_mt_x64\INSTALL\bin\zlib.dll" />
                </Component>
                <Component Id="phast_mt.exe" Guid="*">
                    <File Id="phast_mt.exe" Name="phast-mt.exe" KeyPath="yes" Source="$(var.CMakeBinaryDir)\_build_mt_x64\INSTALL\bin\phast3.exe"/>
                </Component>
                <Component Id="phast_msmpi.exe" Guid="*">
                    <File Id="phast_msmpi.exe" Name="phast-msmpi.exe" KeyPath="yes" Source="$(var.CMakeBinaryDir)\_build_mpi_x64\INSTALL\bin\phast3.exe"/>
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>