<Include>
<?define Name=Phast for Windows?>
<?define NameNS=Phast_for_Windows?>
<?define Major=0?>
<?define Minor=1?>
<?define Micro=0?>
<?define Build=581?>
<?define Manufacturer="U.S. Geological Survey"?>
<?define UpgradeCode=BB03D5EE-DB02-463D-8CE4-F7724B006ACF?>
<?ifdef VS2005 ?>
<?define vtkDllPath="$(env.DEV_VTK_542_VS8_DLL_BIN)"?>
<?else?>
<?define vtkDllPath="$(env.DEV_VTK42_VS7_DLL_LIB)"?>
<?endif?>
<?define hdfDllPath="$(env.DEV_HDF5_LIBDLL)"?>
<?define phastExePath="$(env.PHAST_EXE_PATH)"?>
<?define xercesDllPath="$(env.DEV_XERCES)\bin"?>

<?if $(env.PROCESSOR_ARCHITECTURE)=x86 ?>
  <?define MergeDir="$(env.CommonProgramFiles)\Merge Modules"?>
<?else?>
  <?define MergeDir="$(env.CommonProgramFiles(x86))\Merge Modules"?>
<?endif?>

<?define VersionInternal=$(var.Major).$(var.Minor).$(var.Build)?>
<?define VersionUserVisible=$(var.Major).$(var.Minor).$(var.Micro).$(var.Build)?>

<?define Description="USGS $(var.Name) $(var.VersionUserVisible) Installer"?>
<?define DiskPrompt="USGS $(var.Name) $(var.VersionUserVisible) Installation [1]"?>
<?define PrgMenu="$(var.Name) $(var.VersionUserVisible)"?>
<?define Shortcut="$(var.Name) $(var.VersionUserVisible)"?>
<?define FeatureTitle="$(var.Name) $(var.VersionUserVisible)"?>
<?define Cabinet=$(var.NameNS).cab?>
<?define ExampleDir=phast\examples?>
</Include>
